*{

    margin: 0;
}
.container{

    width: 30rem;
    column-count: 2;
    margin-top: 8rem;
    margin-left: 13rem;
    padding-right: 20rem;
    clear: both;
    color: white;
    background:#141d26;
    
    
}
img{

    width: 25rem;
    float: left;
    margin-left: 12rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
}
h1{
    display: inline-block;
    width: 22rem;
    margin-top: 3rem;
    margin-left: 3rem;
    font-size: 1.8rem;
    font-family: sans-serif;
    display: inline-block;
}
#p1{

    width: 19rem !important;
    margin-top: 1.6rem !important;
    margin-left: 3rem !important;
    font-size: 0.8rem !important;
    font-family: sans-serif !important;
    font-weight: lighter!important;
    color: rgba(255, 255, 255, 0.61);

}
footer{

    width: 20rem;
    columns: 3;
    margin-left: 3rem;
    margin-top: 3rem;
}
p{
    font-size: 1.3rem;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 0.3rem;
}
.p1{

    font-size: 0.7rem !important;
    font-weight: normal;
    font-family: sans-serif;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.61);

}
h2{

    display: inline-block;
}
div{
    background-color: 	#03002e;
    padding-bottom: 2.55rem;
    padding-right: 30rem;
    border-radius: 0.5rem;
    
}
